/* Réinitialisation de la mise en page et styles de base */
body, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #81C784; /* Vert clair agricole */
    color: #424242; /* Gris foncé pour le texte */
}

h1 {
    text-align: center;
    padding: 20px 0;
    color: #33691E; /* Vert foncé pour le titre */
}

form {
    text-align: center;
}

.container {
    background-color: #FFFFFF; /* Fond blanc pour le conteneur */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Ajoutez des styles supplémentaires en fonction de votre contenu spécifique */

